PGHOST=localhost
PGPORT=5432
PGDATABASE=medcrm
PGUSER=app_user
PGPASSWORD=apptest123

MAINT_PGHOST=localhost
MAINT_PGPORT=5432
MAINT_PGDATABASE=medcrm
MAINT_PGUSER=postgres
MAINT_PGPASSWORD=root

PORT=3001
TOKEN_TTL_HOURS=24
